.ReplyChat {
    width:100px;
    height:100px;
}
.kuang {
  word-wrap: break-word;
  width: 300px;
  list-style-type:none;
  padding-bottom: 20px;
}

.kuangDes{
  width: 250px;
}
#id {
  width: 250px;
}
#helperspan {
  width: 250px;
}
.close{
  border-radius: 10%;
  float: right;
}
