.Register {
    color: #63a4ff;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
}

.log{
  padding-top: 20px;
  padding-bottom: 20px;
}
.lb{
  text-align: left;
  padding-left:6px;
  color:skyblue;
}
.fm {
  margin-left:6px;
  margin-right:6px;
}
.Login__content{
  border-radius: 30％；
}
.field{
  padding-left: 20px;
  padding-right: 20px;
}
.ui.checkbox{
  font-size: 12px;

}

.ui.checkbox label, .ui.checkbox+label {
      color: rgba(0, 0, 0, 0.55);
}

.ui.checkbox input[type=checkbox]:checked{
  color: #1976d2;
}
#submitbutton{
  background-color: #1976d2;
  color: white;
}

#submitbutton:hover {
    background-color: #63a4ff;
    color: white;

}
