.submenu {
  width: 400px;
  z-index:0;
  position: absolute;
  top: 10px;
  left: 10px;
  color: #63a4ff;
  font-size:16px;
  opacity: 0.8;
  text-decoration: none;
  ul {
   list-style: none;
  }
}

.mapmarker{
  width: 25px;
  height: 25px;
  transform: 'translate(-50%,-100%)';
}

.mapmarker:hover {
  width: 35px;
  height: 35px;
  opacity: 0.6;
}

.ui.pointing.label{
  height:20px;
  font-size: 10px;
}