.dropmenu{

}

.ui.button{

	background-color:white;

    display: block;
    width: 100%;
    text-align: left;
    text-decoration-color: white;

	}
.ui.button:hover {
    background-color: #cce2ff;

}

.ui.button:focus {
	background-color: white;
}
.date {
  z-index: 100;
}
