.dropmenu{

	
}

.ui.button{

	background-color:white;
	opacity: 0.6;
    display: block;
    width: 100%;
    text-align: left;
    text-decoration-color: black;
		
	}
.ui.button:hover { 
    background-color: #cce2ff;

}

.ui.button:focus {
	background-color: white;
}